form 
{
    border: 1px solid #ccc;
    padding: 20px;
    text-align: left;
    width: 60%;
    margin: 20px auto;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

form input[type="text"],
form input[type="number"],
form textarea 
{
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

form button 
{
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 3px;
}

form button:hover 
{
    background-color: #0056b3;
}

.form-group 
{
    margin-bottom: 20px;
}

.form-group label 
{
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input[type="text"],
.form-group input[type="number"],
.form-group textarea 
{
    width: calc(100% - 40px);
    display: inline-block;
}

.form-group button
 {
    width: 40px;
    display: inline-block;
    vertical-align: middle;
}

.back-button 
{
    background-color: #4CAF50; 
    border: none; 
    color: white; 
    padding: 10px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px; 
    margin: 20px; 
    cursor: pointer;
    border-radius: 50%; 
    transition-duration: 0.4s; 
    font-size: 32px;
    width: 5%;
}

.back-button:hover 
{
    background-color: darkgreen; 
}

.update
{
    cursor: pointer;
}
